
body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
.language-span {
    margin-right: 10px;
    padding: 5px 10px;
    border:  #ccc;
    font-weight: 300;
    cursor: pointer;
}

.language-span:hover {
    background-color: #f0f0f0;
}

/* search */



/* search.css */
/* search.css */


.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    color: black;  /* Change the color to red */
 
}



.search-container {
    display: flex;
    align-items: center;
    z-index: 10000000000000000000000000000;
}

.search-icon {
    cursor: pointer;
    margin-right: 10px;
}

.input-container {
    position: relative;
    display: flex; 
    align-items: center; 
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.input-container.active {
    width: 300px; 
}

.input-container.active input {
    opacity: 1;
    width: 100% !important  ;   
}

.input-container.active button {
    opacity: 1;
}

.input-container input,
.input-container button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.input-container input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    margin-left: 5px; 
    padding: 7px 10px;
    border: none;
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
} 



/* login button */


/* LoginButton.module.css */

.buttonContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5vh; /* Just for demonstration */
    padding: 0 20px; /* Add padding for spacing */
}

.loginButton,
.subscribeButton {
    padding: 10px 20px;
    margin-left: 8px;
    background-color: #581052c4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover transition */
}

.loginButton:hover,
.subscribeButton:hover {
    background-color: #394b41;
}

/* media query */

@media (max-width: 767px) {
    .hide {
        display: none;
    }
}




/* styles/globals.css */
.input-group {
  border-bottom: 1px solid #ced4da;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  box-shadow: none;
}

.btn-outline-secondary {
  border: none;
  border-bottom: 1px solid #ced4da;
  box-shadow: none;
}


/* styles/globals.css */
.nav-pills .nav-link {
  background-color: #010509;
  color: white;
  margin: 5px;
  width: 200px; /* Adjust as needed */

}

.nav-pills .nav-link.active {
  background-color: black  !important;
  color: rgb(220, 4, 4)    !important;
   border-right: 5px solid rgb(209, 3, 3);
}

.nav-pills {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.nav-pills::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

@media (max-width: 767.98px) {
  .nav-pills {
    flex-direction: row !important;
    justify-content: flex-start;
  }
  .nav-item {
    display: inline-block; /* Make sure each tab is displayed inline */
    margin: 0 5px;
  }
  .tab-content {
    text-align: center;
  }
}














.custom-card {
  transition: background-color 0.3s, color 0.3s;
  padding: 20px;
}

.custom-card:hover {
  background-color: black;
  color: white;
}

.custom-card:hover .card-title,
.custom-card:hover .card-text {
  color: white;
}

.custom-card:hover .custom-icon {
  color: white; /* Yellow color for icon on hover */
}

.card-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.custom-icon {
  font-size: 40px; /* Adjust icon size */
  color: black; /* Custom color for icon */
}

.text-center {
  text-align: center;
}
